/* ImageWithHotSpot.css */
.image-container {
  position: relative;
  width: 100%;
  max-width: 600px; /* Adjust the max-width as needed */
  margin: auto;
}

.responsive-image {
  width: 100%;
  height: auto;
}

.joyful-mysteries-hotspot {
  position: absolute;
  top: 12%; /* Adjust the top position in percentage */
  left: 2%; /* Adjust the left position in percentage */
  width: 20%; /* Adjust the width in percentage */
  height: 17%; /* Adjust the height in percentage */
  /* background-color: rgba(255, 0, 0, 0.1); /* Semi-transparent red for visibility */
  cursor: pointer;
}

.sorrowful-mysteries-hotspot {
  position: absolute;
  top: 12%; /* Adjust the top position in percentage */
  left: 76%; /* Adjust the left position in percentage */
  width: 23%; /* Adjust the width in percentage */
  height: 17%; /* Adjust the height in percentage */
  /* background-color: rgba(255, 0, 0, 0.1); /* Semi-transparent red for visibility */
  cursor: pointer;
}

.luminous-mysteries-hotspot {
  position: absolute;
  top: 55%; /* Adjust the top position in percentage */
  left: 71%; /* Adjust the left position in percentage */
  width: 28%; /* Adjust the width in percentage */
  height: 17%; /* Adjust the height in percentage */
  /* background-color: rgba(255, 0, 0, 0.1); Semi-transparent red for visibility */
  cursor: pointer;
}

.glorious-mysteries-hotspot {
  position: absolute;
  top: 55%; /* Adjust the top position in percentage */
  left: 2%; /* Adjust the left position in percentage */
  width: 26%; /* Adjust the width in percentage */
  height: 17%; /* Adjust the height in percentage */
  /* background-color: rgba(255, 0, 0, 0.1); /* Semi-transparent red for visibility */
  cursor: pointer;
}

.hotspot {
  background-color: transparent;
}
