@font-face {
  font-family: 'Avenir';
  src: url('./fonts/Avenir-Medium.woff2') format('woff2'),
       url('./fonts/Avenir-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.searchBox[type="text"] {
  width: 300px;
  padding: 10px 15px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
}
body {
  font-family: 'Avenir', sans-serif;
}

.App {
  text-align: center;
}

header {
  background-color: white;
  padding: 5px;
  color: white;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline;
  margin: 0 5px;
}

main {
  padding: 0px;
}

.mysticLogo {
  width: 300px;
}

.rosaryGuide {
  max-width: 800px;
  width: 100%;
}

.divineMercyImage {
  max-width: 800px;
  width: 100%;
}
.mysticBannerImage {
  max-width: 500px;
  width: 100%;
}

.prayerContainer {
  max-width: 400px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 100px;
  margin-bottom: 100px;
}

.outerPrayer {
  display: flex;
  justify-content: center; /* Centers horizontally */
  height: 100vh;          /* Full height of the viewport */
  width: 100vw;           /* Full width of the viewport */
}

.generalContainer {
  max-width: 400px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 100px;
  margin-bottom: 100px;
}
.generalOuterContainer {
  display: flex;
  justify-content: center; /* Centers horizontally */
  height: 100vh;          /* Full height of the viewport */
  width: 100vw;           /* Full width of the viewport */
}

.customizeButton {
  position: absolute;
  top: 55%; /* Adjust the top position in percentage */
  left: 35%; /* Adjust the left position in percentage */
  width: 30%; /* Adjust the width in percentage */
  /*  background-color: rgba(255, 0, 0, 0.1); /* Semi-transparent red for visibility */
  cursor: pointer;  
}
