@font-face {
  font-family: 'Avenir';
  src: url('./fonts/Avenir-Medium.woff2') format('woff2'),
       url('./fonts/Avenir-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Avenir', sans-serif;
}

.App {
  text-align: center;
}

header {
  background-color: white;
  padding: 5px;
  color: white;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline;
  margin: 0 5px;
}

main {
  padding: 0px;
}

.mysticLogo {
  width: 300px;
}

.rosaryGuide {
  max-width: 800px;
  width: 100%;
}

.divineMercyImage {
  max-width: 800px;
  width: 100%;
}
.mysticBannerImage {
  max-width: 500px;
  width: 100%;
}

.prayerContainer {
  max-width: 400px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 100px;
  margin-bottom: 100px;
}

.outerPrayer {
  display: flex;
  justify-content: center; /* Centers horizontally */
  height: 100vh;          /* Full height of the viewport */
  width: 100vw;           /* Full width of the viewport */
}