.App {
  text-align: center;
}

header {
  background-color: white;
  padding: 10px;
  color: white;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline;
  margin: 0 10px;
}

main {
  padding: 20px;
}

.mysticLogo {
  width: 300px;
}

.rosaryGuide {
  max-width: 800px;
  width: 100%;
}