/* Customize.css */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: 'Arial', sans-serif;
}

.input-container {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin-bottom: 10px;
}

.input-container input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s;
}

.input-container input:focus {
  border-color: #007BFF;
  outline: none;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
  border-top: none;
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
}

.dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dropdown li:hover {
  background-color: #f1f1f1;
}

button {
  padding: 6px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #8db4dd;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.link-list {
  width: 100%;
  max-width: 460px;
  margin-top: 20px;
  border-collapse: collapse;
}

.link-list th, .link-list td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.link-list th {
  background-color: #f1f1f1;
  font-weight: bold;
}

.link-list tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.link-list tbody tr:hover {
  background-color: #e1e1e1;
}

.actionColumn {
  text-align: center;

  width: 90px;
}
